.modal {
  height: 350px;
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 25px;

  & > * {
    width: inherit;
    padding: 10px;
    box-sizing: border-box;
  }

  color: black;

  & > header {
    /* height: 68px; */
    display: flex;
    gap: 10px;
    text-overflow: ellipsis;
    backdrop-filter: blur(20px);

    background-color: rgba(0, 0, 0, 0.1);
    /* background: brown; */
    width: 100%;
    border-radius: 25px 25px 0px 0px;

    & > img {
      height: 45px;
      width: 45px;
      border-radius: 50%;
    }

    & > .title {
      /* BUG text-overflow doesn't work */
      width: 100%;
      /* overflow: hidden; */

      font-size: 18px;
      font-weight: 600;
      color: #e58c8a;
    }
  }

  & > main {
    background-color: #e0e0e0;
    height: 100%;
    border-radius: 0px 0px 25px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > footer {
      display: flex;
      justify-content: space-between;

      color: #a3a3a3;

      & > button {
        all: unset;

        cursor: pointer;
      }
    }
  }
}

.body,
.title {
  height: 100%;
  background: none;
  border: none;
  resize: none;

  &:focus {
    outline: none;
  }

  &.body::placeholder {
    color: #817f7f;
  }

  &.title::placeholder {
    color: #c29393;
  }
}
