.nav {
  width: 50%;

  & > ul {
    display: flex;
    justify-content: flex-start;
    gap: 40px;

    & > li {
      all: unset;

      &.unauthorized {
        display: none;
      }

      & > a:hover {
        color: #e58c8a;
      }
    }
  }
}
